.draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; background-color:#c7c7c7; }
.droppable,.droppable2 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px;background-color:#e7e7e7; }
.ui-state-highlight { border: 3px #FF0000 solid; }
